[Unit]
Description=Desktop Configurate
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target graphical.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/configurate-desktop

[Install]
WantedBy=multi-user.target
